*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: GILROY;
}
html,body{ 
width: 100%;
height: 100%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F9FA;
}

body{
    background-color: lightblue;
    color: darkblue;
    font: 500;
}